th{
    background-color:#00ABF0;
    text-align:center;
    color:white;
    font-weight: bold;
    padding:10px;
    font-size:20px;
    }
    thead{
    text-align:center;
    color:white;
    width:20px;
    height:50px;

    }
    th:nth-last-child(-n+4){
        width:70px;
    }
    td:first-child{
        width:50px;
    }

        td{
        text-align:center;
        background-color:#91E0FF;
        padding:10px;
        font-size:13px;
    }
        table{
        table-layout:fixed;
       border-radius:5px;
        border:5px grey;
        border-collapse:collapse;
        height:100%;
        margin:auto;
        width:100%;
    }